body {
    background-color: khaki;
    background-repeat: no-repeat;
    text-align: center;
    letter-spacing: 2px;
}

button {
    color: rgb(59, 36, 192);
    padding: 15px 18px;
    font-size: 14px;
    margin: 4px 2px;
    background-color: white;

}

#gifSearch,
#add-gif {
    color: blue;
    margin: 4px 2px;
}